.radio-button {
    margin-bottom: 10px;
    margin-left: 25px;
    position: relative;
}
input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
    padding-left: 25px;
    position: relative;
}
/* label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    padding: 2px;
    border: 2px solid grey;
    
    border-radius: 50%;
} */

input[type="radio"]:checked + label::before {
    background-color: blueviolet;
}